# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venvmac/
venv
env/
venv_new/

# SQLite DB
*.sqlite3

# VS Code
.vscode/
.backend

.env

# directories
antigravity/
hostel_system/
hostel_portal/media/
