# ⚙️ Django Settings
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Secret Key
SECRET_KEY=

# Database (PostgreSQL) -- Example, keep these commented out if using SQLite/default settings
# DB_NAME=hostel_portal
# DB_USER=postgres
# DB_PASSWORD=1234
# DB_HOST=localhost
# DB_PORT=5432

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=

# Email (for SMTP) -- Example, keep these commented out if not using email features
# EMAIL_HOST_USER=your_email@gmail.com
# EMAIL_HOST_PASSWORD=your_app_password

# Master Admins
ADMIN_EMAILS=

# Test Warden (Bypasses Database Pre-approval)
TEST_WARDEN_EMAIL=
TEST_WARDEN_NAME= warden1 test
TEST_WARDEN_HOSTEL= Hostel 1

# Test Faculty (Bypasses Database Pre-approval)
TEST_FACULTY_EMAIL=
TEST_FACULTY_NAME= faculty1test
